.game-container {
  margin: 2% 4%;
  border: 3px solid rgb(18, 45, 86);
  border-radius: 15px
}
.header {
  text-align: center;
  padding-top: 10px;
}
.player-input {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin: 4%;
}
.keyboard, .lives {
  width: 50%;
  text-align: center;
}

.keyboard button {
  margin: 5px;
  font-size: 1.2em;
  background: none;
  border-radius: 50%;
  padding: 10px 15px;
}
.keyboard button:hover {
  background: rgb(18, 45, 86);
  color: #fff;
}
.new-game {
  display: block;
  padding: 5px 0;
  margin: 10px auto;
  font-size: 1.2em;
  border-radius: 10px;
  background: none;
  width: 30%;
  
}




