body {
  margin: 0;
  padding: 0;
  font-family: Avenir, Helvetica, sans-serif;
  font-size: 16px;
  color: rgb(18, 45, 86);
}
h1 {
  font-size: 1.8em;
  letter-spacing: 2px;
}
h2 {
  font-size: 1.3em;
}
p {
  font-size: 1.6em;
  letter-spacing: 5px;
}
img {
  width: 200px;
  height: 300px;
  border: 1px dotted rgb(18, 45, 86);
}
